---
title: Private Patient Information
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
           <h1>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</h1>
           <p>- Something something Consultant</p>
        
        <div class="row">
          <ul class="list-unstyled list-inline">
            <li><a href="#">First sub link</a></li> |
            <li><a href="#">First sub link</a></li> |
            <li><a href="#">First sub link</a></li>
          </ul>
        </div>
            
      </div>
      <div class="col-md-4">
        <%= image_tag 'consultant.png', :class => 'banner-image' %>
      </div>
    </div>
  </div>
</section>

<section class="featured" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="http://placehold.it/720x480" class="img-responsive">
        <div class="well text-center">
         <h3>Title</h3>
        <p>Paragraph</p>
        <a class="btn btn-feature">Click here</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <img src="http://www.sheffieldvisioncentre.co.uk/clientfiles/Image/IMG_0495.jpg" class="img-responsive">
        <div class="well text-center">
        <h3>Consultant-led services</h3>
        <p>Some form of paragraph which indicates the value of having so many leading consultants under one roof</p>
        <a class="btn btn-feature">Click here</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <img src="http://www.sth.nhs.uk/clientfiles/Image/bonescapel.jpg" class="img-responsive">
        <div class="well text-center">
        <h3>World-class research &amp; equipment</h3>
        <p>A possible paragraph extolling the virtues of having a teaching hospital and the charity</p>
        <a class="btn btn-feature">Click here</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="shout-out">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
          <h2>"This is a massive shout out to a particular service that has aided or provides a great feature!"</h2>
          <h5>Somebody name</h5>
      </div>
    </div>
  </div>

</section>

<section>
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <h1 class="text-center">Ways to pay</h1>
        <hr>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <div class="well text-center">
          <i class="fa fa-heart text-center fa-3x"></i>
            <i class="fa fa-heart text-center fa-5x"></i>
           <i class="fa fa-heart text-center fa-3x"></i>
          <h3>Health insurance</h3>
          <p>A paragraph about paying for the services using health insurance</p>
          <a class="btn btn-feature">Find out more</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <div class="well text-center">
          <i class="fa fa-smile-o text-center fa-3x"></i>
          <i class="fa fa-smile-o text-center fa-5x"></i>
          <i class="fa fa-smile-o text-center fa-3x"></i>
          <h3>Pay as you go</h3>
          <p>A paragraph about paying for the services by paying up front or as services are provided</p>
          <a class="btn btn-feature">Find out more</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <div class="well text-center">
          <i class="fa fa-building-o text-center fa-3x"></i>
          <i class="fa fa-building-o text-center fa-5x"></i>
          <i class="fa fa-building-o text-center fa-3x"></i>
          <h3>Company plans</h3>
          <p>A paragraph about paying for services as a company or corporation</p>
          <a class="btn btn-feature">Find out more</a>
        </div>
      </div>
    </div>
  </div>

</section>


