---
title: Private Patient Information
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
           <h1>"Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat."</h1>
           <p>- Something something Consultant</p>
        
        <div class="row">
          <ul class="list-unstyled list-inline">
            <li><a href="#">First sub link</a></li> |
            <li><a href="#">First sub link</a></li> |
            <li><a href="#">First sub link</a></li>
          </ul>
        </div>
            
      </div>
      <div class="col-md-4">
        <%= image_tag 'consultant.png', :class => 'banner-image' %>
      </div>
    </div>
  </div>
</section>

<section class="featured" role="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <img src="http://www.sheffieldvisioncentre.co.uk/clientfiles/Image/IMG_0495.jpg" class="img-responsive">
        <div class="well">
         <h3>Title</h3>
        <p>Paragraph</p>
        <a class="btn btn-primary">Click here</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <img src="http://www.sheffieldvisioncentre.co.uk/clientfiles/Image/IMG_0495.jpg" class="img-responsive">
        <div class="well">
        <h3>Title</h3>
        <p>Paragraph</p>
        <a class="btn btn-primary">Click here</a>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-4">
        <img src="http://www.sheffieldvisioncentre.co.uk/clientfiles/Image/IMG_0495.jpg" class="img-responsive">
        <div class="well">
        <h3>Title</h3>
        <p>Paragraph</p>
        <a class="btn btn-primary">Click here</a>
        </div>
      </div>
    </div>
  </div>
</section>


