---
title: Private Patient Information
---

<section class="site-banner">
  <div class="container">
    <div class="row">
      <h1>The main action</h1> 
      <p class="lead">A second line to entice people into being a private patient </p>
      <a href="x" class="btn btn-primary">Button to use</a>
    </div>
  </div>
</section>